.header {
    grid-area: h;
    background-color:#279CEB
}

.header img {
    width: 50px;
}

.logo {
    float: left;
    font-family: Open Sans Condensed, sans-serif;
    font-size: 20px;
    line-height: 35px;
    margin-left: 20px;
}

.name {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', monospace;
    color: #a9dade;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.login {
    color: white;
    text-decoration: none;
}
